{% extends "layout.html" %}
{% block body %}

<br>

<div class="container ">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">College Name</th>
        <th scope="col">Block Hash</th>
        <th scope="col">Download Certificate</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <th scope="row">{{ i['sr'] }}</th>
        <td>{{ i['Name'] }}</td>
        <td>{{ i['College Name'] }}</td>
        <td>{{ i['Block Hash'] }}</td>
        <td><a href="{{ url_for('blockChain.downloadCertificate', my_var=i['Name'] )}}" class="link-success">Download</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>

  

</div>

{% endblock %}