{% extends "layout.html" %}
{% block body %}

<br>
<div class="container ">
  <form action="/verifyBlock" method="POST">
    <h1>Verify Certificate</h1>
    <br>
    <div class="mb-3">
      <label for="block" class="form-label">Enter BlockHash</label>
      <input type="text" class="form-control" id="block" name="block"
        placeholder="Enter BlockHash To Verify Certificate">
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>


{% endblock %}